.contactContainer{
    background-color: white;
    margin-left: 40px;
    padding: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    .emailContainer{
        display: flex;
        align-items: center;
    }
    .icon{
        margin-right: 20px;
    }
    .copyContainer{
        color: #40bbac;
        margin-right: 5%;
        font-size: 22px;
        cursor: pointer;
    }
}